*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
tandt_db
viewers
wandb
eva/
eval/
datasets/
*.png
*.jpg
*.csv
.gitignore
arguments/__init__.py
bram_plot.py
"calculate elementwise_psnr.py"
create_gaussian_density_plot.py
create_histogram.py
create_line_plot.py
create_opacity_plot.py
create_scatter_mean_plot.py
create_size_plot.py
crop_ply.py
find_plys.py
fps.py
full_eval.py
metrics.py
plot_beta.py
read_wandb_data.py
render.py
render_graphs.py
render_n_biggest.py
run_experiments.py
run_individual_opacity.py
run_plots.py
scene/__init__.py
scene/cameras.py
scene/colmap_loader.py
scene/dataset_readers.py
scene/gaussian_model.py
submodules/diff-gaussian-rasterization
submodules/simple-knn
submodules/weighted_distance/setup.py
train.py
utils/camera_utils.py
utils/image_utils.py
utils/splats.py
wandb_run_comparison.py
BRAM/
bycicle_cropped/
cameras/
cropped/
opacity_eval/
opacity_test/
reg_run15k/
scale_opacity_test/
scale_test/
selfeval_test/
submodules/weighted_distance/.gitignore
submodules/weighted_distance/ext.cpp
submodules/weighted_distance/weighted_distance.cu
submodules/weighted_distance/weighted_distance.h
submodules/weighted_distance/weighted_distance/
test/
test_selfeval/
