*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
tandt_db
viewers
custom_cam
edm_data
igna_video
ignatius
used_images
truck_big
wandb
sam_vit_h_4b8939.pth
segment
train_ss
train_video
SIBR_viewers
segmentations

